# backend env
.env

# backend
backend/node_modules/
backend/uploads/*

# frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/public/uploads/*
!frontend/public/uploads/default_profile.jpg


# ml
ml/node_modules/
ml/checkpoints/
ml/final_model/
ml/genai_model_list.py
ml/logs/
ml/data/
ml/__pycache__/