.selection-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
}

.selection-container  .selection {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
}

.selection .shimmer-title {
  width: 150px;
}

.selection-container .selection label {
  font-size: 0.8em;
  font-weight: 600;
}

.selection-container .selection span {
  margin: 0 20px;
}

.selection-container .selection select {
  width: 100%;
  height: 30px;
}

.selection-container .selection input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

.selection-buttons-1 button{
  margin: 20px 10px;
}