.edit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-container {
  background: #fff;
  width: 90vw;
  max-width: 1200px;
  height: 90vh;
  max-height: 800px;
  position: relative;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.edit-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.edit-content-header {
  flex-shrink: 0;
  margin-bottom: 10px;
}

.edit-content-body {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  scrollbar-width: thin;
  padding: 20px;
}

.edit-content-action {
  flex-shrink: 0;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.edit-content-body input,
.edit-content-body .react-select__control {
  min-height: 50px;
  max-height: 1000px;
}

.edit-content-body textarea {
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  resize: vertical;
  min-height: 120px;
  flex: none;
}

.sdg-checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.sdg-checkbox-group > label {
  font-weight: bold;
  margin-bottom: 6px;
}

.b-label {
  font-weight: bold;
}

.sdg-checkbox-group div {
  display: flex;
  align-items: center;
  height: 40px;
}

.sdg-checkbox-group input[type="checkbox"] {
  margin-right: 6px;
  transform: scale(1.1); /* optional: slightly larger checkbox */
}

.sdg-checkbox-group label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  margin: 0;
}
