.toast-box {
  position: absolute;
  top: 60px;
  right: 0px;
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  overflow: hidden;
  padding: 20px;
  z-index: 9999;
  cursor: pointer;
}

.toast {
  width: 400px;
  height: 80px;
  background: rgb(78, 7, 7);
  color: whitesmoke;
  font-size: 0.9rem;
  letter-spacing: 1px;
  overflow: hidden;
  margin: 5px 0;
  padding: 0 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translateX(100%);
  border-radius: 5px;
  animation: slideIn 0.4s forwards, fadeOut 0.4s ease forwards 3.6s;
}


.toast-success .toast-message{
  color: #05ff69;
}

.toast-warning .toast-message{
  color: #FFF287;
}

.toast-error .toast-message{
  color: #ff0000;
}

.toast-info .toast-message {
  color: #05ff69; 
}

.toast-info .toast-progress {
  background-color: #05ff69; 
}

/* Message inside toast */
.toast-message {
  display: block;
  margin-left: 10px;
  font-weight: 300;
}


.toast-progress {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;  
  animation: anim linear forwards;
}

.toast-success .toast-progress {
  background-color: #05ff69;
}

.toast-warning .toast-progress {
  background-color: #FFF287;
}

.toast-error .toast-progress {
  background-color: #ff0000;
}

@keyframes anim {
  100% {
    width: 0;
  }
}

@keyframes slideIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}