.user-page-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  flex-wrap: wrap;
}

.user-contents {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.sidebar-right {
  width: 250px;
  min-width: 200px;
  height: fit-content;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image-container {
  width: 100px;
  height: 100px;
  border: 2px solid #3B060A;
  border-radius: 50%;
}

.profile-container .active {
  border: 2px solid #2ecc71;
}

.profile-image-label .status .active {
  color: #2ecc71;
  border: none;
}

.profile-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-image-label {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.profile-image-label label {
  font-weight: 600;
  font-size: 1.3em;
  margin: 0;
}

.profile-image-label p {
  font-size: 0.8em;
  margin: 0 auto;
}

.profile-image-label .status {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.profile-image-label .status label,
.profile-image-label .status p {
  font-size: 0.8em;
  max-width: max-content;
  margin: 0;
  color: #3B060A;
  transition: all 0.3s ease;
}

.profile-info {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  transition: all 0.3s ease;
}

.profile-info-p {
  margin-bottom: 10px;
}

.profile-info-p label {
  font-weight: 600;
  font-size: 0.8em;
  color: #3B060A;
}

.profile-info-p p {
  margin: 0;
  /* color: #c4c7c5; */
  color: black;
  font-weight: 300;
  font-size: 0.9em;
  padding-left: 5px;
  border-bottom: 1px solid #3B060A;
}

.header-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.h-left,
.h-right {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.h-left label,
.h-right label {
  color: #3B060A;
  font-weight: 700;
}

body.dark .h-left label,
body.dark .h-right label {
  color: #f5f5f5;
  font-weight: 700;
}

.h-right p,
.h-left p {
  font-size: 2em;
  margin: 0;
  font-weight: 300;
}

body.dark .sidebar-right,
body.dark .user-contents {
  background-color: #282a2c;
}

body.dark .profile-info-p p,
body.dark .profile-image-label p {
  color: #c4c7c5;
}

body.dark .profile-info-p p {
  border-bottom: 1px solid #f5f5f5;
}

body.dark .profile-info-p label,
body.dark .profile-image-label label {
  color: #f5f5f5;
}